
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: cursive;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }


* {
    padding: 0px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium';

}

body{
    background-color: #ededed;

}
 
.home{
    display: flex ;

}

.in-flex:first-child{
    flex: 2;
    padding: 25px;
    background-color:#fff;
    margin:20px;
    margin-bottom: auto;

}

.in-flex div{
    padding: 25px;
    background-color: #fff;
    margin: 20px;
}
