@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  text-decoration: none;
  border: none;
  text-transform: capitalize;
}

:root {
  --orange: #e67e22;
  --black: #130f40;
  --white: #fff;
  --light: #666;
  --bg: #eee;
  --border: 2rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-around;
  background: var(--orange);
}
.navbar a {
  margin-top: 30px;
  color: var(--white);
  font-weight: 300;
}

.navbar img {
  width: 5%;
  height: auto;
  margin-top: 10px;
}
