@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  text-decoration: none;
  border: none;
  text-transform: capitalize;
  list-style: none;
}

:root {
  --orange: #e67e22;
  --black: #130f40;
  --white: #fff;
  --light: #666;
  --bg: #eee;
  --border: 2rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-around;
  background: var(--orange);
}
.navbar a {
  margin-top: 30px;
  color: var(--white);
  font-weight: 300;
}

.navbar img {
  width: 5%;
  height: auto;
  margin-top: 10px;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.somos-title {
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  color: var(--light);
  margin-bottom: 1rem;
}

.somos-img {
  display: inline;
}

.somos-img img {
  max-height: 600px;
  max-width: 600px;
  object-fit: cover;
}

.somos-texto {
  margin-top: 90px;
  margin-right: 300px;
  text-align: center;
}

.somos-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 100px;
}

.mascotas {
  margin-bottom: 20px;
}

footer {
  background: var(--orange);
  color: #fff;
  display: flex;
  justify-content: space-around;
  height: 50%;
}

footer .social-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  font-size: 1.3rem;
}

footer i:hover {
  color: var(--light);
  cursor: pointer;
}


a {
	text-decoration: none;
	background: #e67e22;
	padding: 10px;
	border-radius: 20px;
	color: white;
	justify-content: center;
}

.modal-contenido{
  background-color:white;
	border-radius: 20px;
  width:300px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
}
.modal{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 1s;
}
#miModal:target{
  opacity:1;
  pointer-events:auto;
}